.feat-item-block {
  margin: 24px;
  padding: 8px;
}

.feat-item-header {
  display: flex;
  justify-content: flex-start;
}

.feat-item-name {
  margin: auto 20px 2px 0;
  font-size: 16px;
  font-weight: bold;
}

.feat-item-symbol {
  img {
    height: 20px;
  }
}

.feat-item-level {
  font-weight: bold;
  margin: auto 5px 2px auto;
}

.feat-item-traits-wrapper {
  display: flex;
  margin: 5px 0;
}

.feat-item-trait {
  background-color: goldenrod;
  padding: 0 3px;
  margin: 1px 3px;
}

.feat-item-trait--forground {
  background-color: darkred;
  color: white;
  font-size: 12px;
  padding: 2px 4px;
}

.feat-item-divider {
  margin: 5px 0;
}

.feat-item-label {
  font-weight: bold;
  margin-right: 10px;
}

.feat-item-description {
  margin: 4px 0;
}

.feat-item-special {
  margin: 4px 10px 4px 0;
}

.feat-item-hanging-indent {
  padding-left: 1.5em;
  text-indent: -1.5em;
}
