<div *ngIf="feat" class="block mat-elevation-z1">
  <div class="header">
    <div class="name">{{ feat.name | uppercase }}</div>
    <div *ngIf="actionSymbolUrl" class="symbol"><img src="{{ actionSymbolUrl }}" /></div>
    <div class="level">FEAT {{ feat.levelRequirement }}</div>
  </div>

  <mat-divider></mat-divider>

  <div class="traits-wrapper">
    <div class="trait" *ngFor="let trait of feat.traits">
      <div
        class="trait-foreground"
        [ngClass]="{ 'trait-uncommon': trait.name === 'UNCOMMON_TRAIT', 'trait-rare': trait.name === 'RARE_TRAIT' }"
      >
        {{ trait.name | uppercase }}
      </div>
    </div>
  </div>

  <div *ngIf="feat.prerequisites">
    <span class="label">Prerequisites</span>
    <span>{{ feat.prerequisites }}</span>
  </div>

  <div *ngIf="feat.frequency">
    <span class="label">Frequency</span>
    <span>{{ feat.frequency }}</span>
  </div>

  <div *ngIf="feat.trigger">
    <span class="label">Trigger</span>
    <span>{{ feat.trigger }}</span>
  </div>

  <div *ngIf="feat.cost">
    <span class="label">Cost</span>
    <span>{{ feat.cost }}</span>
  </div>

  <div *ngIf="feat.requirements">
    <span class="label">Requirements</span>
    <span>{{ feat.requirements }}</span>
  </div>

  <div class="divider">
    <mat-divider></mat-divider>
  </div>

  <div class="description">
    <span>{{ feat.description }}</span>
  </div>

  <div *ngIf="feat.critSuccessText" class="hanging-indent">
    <span class="label">Critical Success</span>
    <span>{{ feat.critSuccessText }}</span>
  </div>
  <div *ngIf="feat.successText" class="hanging-indent">
    <span class="label">Success</span>
    <span>{{ feat.successText }}</span>
  </div>
  <div *ngIf="feat.failText" class="hanging-indent">
    <span class="label">Failure</span>
    <span>{{ feat.failText }}</span>
  </div>
  <div *ngIf="feat.critFailText" class="hanging-indent">
    <span class="label">Critical Failure</span>
    <span>{{ feat.critFailText }}</span>
  </div>

  <div *ngIf="feat.special" class="special hanging-indent">
    <span class="label">Special</span>
    <span>{{ feat.special }}</span>
  </div>
</div>

<div *ngIf="notFound">
  <mat-error>
    Feat Not Found
  </mat-error>
</div>
